<h1><%= @recipe.title %></h1>
<div class="dark-box">
  <h2>Add ingredients</h2>
  <%= render 'recipe_list_ingredients', ingredients: @recipe_ingredients %>
  <div data-controller="show-filters">
    <%= render 'shared/add_ingredient_item', ingredient: @ingredient, recipe: @recipe %>
  </div>
</div>


<%= link_to 'Save and continue', edit_description_recipe_path(@recipe), class: "button button-primary", style: "display:block;" %>
