<div class="d-flex flex-column gap-2" data-add-ingredient-target="list">
  <% if ingredients.count > 0 %>
    <% ingredients.each do |ingredient| %>
      <%= render 'user_ingredient_item', ingredient: ingredient %>
    <% end %>
  <% end %>
</div>
