<h1>In your fridge</h1>
<div>
  <%= render 'user_list_ingredients', ingredients: @user_ingredients %>
</div>

<div data-controller="show-filters">
  <%= render 'shared/add_ingredient_item', ingredient: @new_ingredient%>
</div>
