<h1>Recipes</h1>
<div data-controller="search-recipes">
  <div data-controller="show-filters">
    <i class="fa-solid fa-filter icon" data-action="click->show-filters#displayForm"></i>
    <%= render 'search' %>
  </div>
  <%= render 'list' %>
</div>
