<div data-controller="search-recipes">
  <div data-controller="show-filters">
    <%= render 'search' %>
    <button aria-label="Edit movie" data-action="click->show-filters#displayForm">
      <i class="fa-solid fa-filter fa-xs ml-2"></i>
    </button>
  </div>
  <%= render 'list' %>

  <%= link_to 'Add recipe', new_recipe_path %>
</div>
