<div class="d-flex flex-column gap-2"  data-add-ingredient-target="list" data-purchase-target="list" data-controller="purchase">
  <% if ingredients.count > 0 %>
    <% ingredients.each do |ingredient| %>
      <%= render 'grocery_ingredient_item', ingredient: ingredient %>
    <% end %>
  <% end %>
  <div class="d-flex">
    <button type="button" data-action="click->purchase#selectAll" class="button button-secondary me-2">Select All</button>
    <button type="button" data-action="click->purchase#applyPurchase" class="button button-primary">Purchased Selected</button>
  </div>
</div>
