<div class="d-flex flex-column gap-2"  data-add-ingredient-target="list" data-controller="purchase">
  <% if ingredients.count > 0 %>
    <% ingredients.each do |ingredient| %>
      <%= render 'grocery_ingredient_item', ingredient: ingredient %>
    <% end %>
  <% end %>
  <button type="button" data-action="purchase#applyPurchase">Purchase Selected Items</button>
</div>
