<div>
  <%= render 'shared/list_ingredient', ingredients: @groceries %>
</div>

<div class="sticky-bottom" style="background-color: silver">
  <%= render 'shared/add_ingredient_item', ingredient: @new_ingredient%>
</div>
