<div>
  <%= render 'shared/list_ingredient', ingredients: @groceries %>
</div>

<div data-controller="show-filters">
  <%= render 'shared/add_ingredient_item', ingredient: @new_ingredient%>
  <button aria-label="Edit movie" data-action="click->show-filters#displayForm">
    <i class="fa-solid fa-plus fa-xs ml-2"></i>
  </button>
</div>
