<h1>Grocery List</h1>
<div data-controller="add-ingredient">
  <div>
    <%= render 'grocery_list_ingredients', ingredients: @groceries %>
  </div>

  <div data-controller="show-filters">
    <%= render 'shared/add_ingredient_item', ingredient: @new_ingredient%>
  </div>
  <div data-add-ingredient-target="flash"></div>
</div>
