<div class="bottom-bar">

  <%= link_to root_path, class: "icon" do %>
    <i class="fa-solid fa-utensils icon"></i>
  <% end %>

  <%= link_to grocery_ingredients_path, class: 'icon' do %>
    <i class="fa-solid fa-cart-shopping"></i>
  <% end %>

  <%= link_to user_ingredients_path, class: 'icon' do %>
    <i class="fa-solid fa-house-circle-check"></i>
  <% end %>

  <%= link_to new_recipe_path, class: 'icon' do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>


</div>
