@import "colors";

.card-format {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  border: 0px;
}

.card {
  @extend .card-format;
  background-color: white;
}

.recipe-card {
  @extend .card;
  width: 48%;
}

.recipe-card-title {
  padding: 3px 5px;
  margin-bottom: 0px;
  @extend .dark-grey-text;
}

.recipe-card > img {
  height: 85px;
  width: 100%;
  object-fit: cover;
  // opacity: 0.70;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.recipe-card-info {
  display: flex;
  font-family: "sans-serif";
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
}

.box {
  @extend .card-format;
  padding: 10px;
  margin-bottom: 8px;
}

.text-box {
  @extend .box;
  background-color: white;
}

.dark-box {
  @extend .box;
  @extend .dark-background;
  width: 100%;
}

.measurement-col {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}

.ingredient-list-name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  min-width: fit-content;
}
