@import "colors";

// Containers

.container {
  width: 87.5%;
  padding: 0;
  font-family: sans-serif;
}

.show-recipe-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.recipe-image {
  opacity:60%;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

// New text types

.button-text {
  // font-family: "sans-serif";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.no-bullets {
  list-style-type: none;
}

.link-text {
  text-decoration: underline;
}

// Tags

.tag-format {
  text-align: center;
  padding: 1px 5px;
  border-radius: 999px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-transform: lowercase;
  margin-bottom: 5px;
  width: fit-content;
}

.tag {
  @extend .tag-format;
  @extend .primary-background;
}

.grey-tag {
  @extend .tag-format;
  @extend .light-grey-background;
}

.green-tag {
  @extend .tag-format;
  @extend .success-background;
}

.red-tag {
  @extend .tag-format;
  @extend .danger-background;
}


// Built in text

.container p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 2px;
}

.container h1 {
  // font-family: "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-decoration: none;
  margin-bottom: 8px;
}

.container h2 {
  // font-family: "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 29px;
  text-decoration: none;
  margin-bottom: 8px;
}

.container h3 {
  // font-family: "sans-serif";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 24px;
  text-decoration: none;
  margin-bottom: 8px;
}
