@import 'colors';

.input {
  border: 0px;
  padding: 3px 10px 3px 10px;
  border-radius: 999px;
  @extend .light-grey-background;
}

.search-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-box select {
  @extend .input;
}

.search-box input {
  @extend .input;
}

.ingredient-list {
  @extend .input;
  display: flex;
  overflow: hidden;
  vertical-align: middle;
  justify-content: space-between;
}

.ingredient-list div {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.ingredient-list form {
  display: flex;
  flex: row;
  justify-content: end;
  width: fit-content;
}

.ingredient-list form input {
  height: 100%;
  border: 0px;
  border-radius: 999px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: 300;
  text-align: right;
  // border: 1px solid #3C3939;
  @extend .light-grey-background;
}

.ingredient-list form div {
  margin: 0px;
  max-width: 30%;
  min-width: 20%;
  text-align: right;
  margin-right: 3px;
  @extend .light-grey-background;
}

.ingredient-list form select {
  height: 100%;
  border: 0px;
  margin-bottom: 0px;
  font-weight: 300;
  padding: 0px;
  @extend .light-grey-background;
}

.text-align-right {
  justify-content: end;
}

.ingredient-delete {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 8px;
}
