@import "colors";

.icon {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  @extend .light-grey-background;
}

.small-icon {
  @extend .icon;
  height: 30px;
  width: 30px;
}
